@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@font-face {
  font-family: "skip";
  src: url(/fonts/103fc5fac08dcb15-s.p.woff2) format("woff2");
}
/* body {
  background-color: #111;
} */
* {
  /* color: #fff; */
  font-family: skip;
}

.text-stroke-white {
  -webkit-text-stroke: 2px white;
  color: transparent;
}
